.edit-modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-modal-content {
  width: 30%;
  background-color:#1f232a;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.close-btn {
    color: white;
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}