.profile {
    text-align: center;
    color: white;

}
.button {
  border: none;
  background: none;
  cursor: pointer;
}

.image {
  height: 5vh;
  width: auto;
  margin-top: -5px;
  transition: filter 0.15s ease, transform 0.15s ease;
}

